.frame3{
    border-radius: 4px;
    border: 1px solid #CFCFCF;
    font-size: 12px;
}

.f3_lineV{
    width: 1px;
    height: 24px;
    background: #CFCFCF;
}

.f3_lineH{
    width: 350px;
    height: 1px;
    background: #CFCFCF;
}